# ---- Java ----
*.class
*.log
*.tmp
*.bak
*.swp
*.DS_Store

# ---- Maven ----
target/
dependency-reduced-pom.xml

# ---- Eclipse/IntelliJ/VS Code ----
*.iml
.idea/
.project
.classpath
.settings/
.vscode/

# ---- File personali / locali ----
classpath.txt
